
#interface{
    width: 80%;
    margin: auto;
    background-color: grey;
}
.signe{
  width : 30%;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reponseSigne{
  font-size: 220px;
  color : blue;
}

#question{
  margin: auto;
  width: 30%;
  height: 300px;
}
#imgQuestion{
  width: 100%;
}

#reponse{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
