
body{
}
h1{
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 100%;
  padding: 30px;
  background-color: red;

}
header{
  background-color: white;
  text-align: right;
  margin:20px;
}
#interface{
    width: 80%;
    margin: auto;
}
.signe{
  width : 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reponseSigne{
  text-align: center;
  width: 100%;
  font-size: 50px;
  color : black;
}

#question{
  margin: auto;
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgQuestion{
  width: 100%;
}

#reponse{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin: 0 0 50px 0;
}

@media (min-width: 800px){
  #question{
    width: 20%;
  }
  h1{
    width: 30%;
  }
}

@media (min-width: 1000px){
  #question{
    width: 15%;
  }
  h1{
    width: 25%;
  }
}

@media (min-width: 1400px){
  #question{
    width: 10%;
  }
  h1{
    width: 15%;
  }
}
