#imgQuestion{

}
/*h5{
  text-align: center;

  font-size: 10px;
  width: 50%;
  margin: auto;
  border-radius: 100%;
  padding: 50px;

}*/
/*header{
  background-color: white;
  text-align: right;
  margin:20px;
}*/
/*.signe{
  width : 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.reponseSigne{
  text-align: center;
  width: 100%;
  font-size: 50px;
  color : black;
}
#question{
  font-size: 150px;
  text-align: center;
}
.question{
  margin: auto;
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imgQuestion{
  width: 100%;
}

#reponse{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 0 50px 0;
}

/*@media (min-width: 800px){
  #question{
    width: 20%;
  }
  h1{
    width: 30%;
  }
}

@media (min-width: 1000px){
  #question{
    width: 15%;
  }
  h1{
    width: 25%;
  }
}

@media (min-width: 1400px){
  #question{
    width: 10%;
  }
  h1{
    width: 15%;
  }
}*/
